.main-header {
  width: 98%;
  margin: 0 auto;
}

.main-logo {
  width: 150px;
}

.copyright {
  font-size: 0.85rem;
}

footer a {
  text-decoration: none;
  color: grey;
}

footer a:hover {
  color: #000;
}

.footer-logo svg {
  fill: #f72210;
  width: 200px;
}

.my-turn h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: bold;
  color: grey;
}

.my-turn h2 {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 600;
  color: grey;
}

.culture-label {
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 0;
}

.cta-title h2 {
  font-size: 1.2rem;
  line-height: 1;
}

.versus {
  top: -30px;
  left: 40%;
}

.subscribe-image-wrapper {
  position: relative;
  width: 100%;
}

.nw-img {
  position: absolute;
  z-index: 9;
  left: 80px;
  top: 15px;
}

.subscribe-text {
  z-index: 9;
  margin: 30px;
  margin-left: 70px;
}

.news-input {
  height: 34px;
}

.news-input-button {
  height: 34px;
  padding-bottom: 5px;
}

 /* Transitions and Animation */

/* Animations */

.rotate {
  animation: rotation 3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
  
}

.nw-appear-top {
  position: relative;
  animation: bounce 4s linear;
}

@keyframes bounce {
  0% {
    left: -100px;
  }

  25% {
    left: 80px;
  }

  75% {
    left: 10px;
  }

  100% {
    left: 0;
  }

}

/* End of Animations */

/* Transitions */

.trans-rotate {
  transition: 0.5s ease-out;
}

.trans-rotate:hover {
  transform: rotate(40deg);
}

.nav-link {
  transition: 0.7s;
}

.nav-link:hover {
  transform: scale(1.15);
}

.my-turn-card img {
  transition: 0.6s;
}

.my-turn-card img:hover {
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.5);
}
