.main-header {
  width: 98%;
  margin: 0 auto;
}

.main-logo {
  width: 150px;
}

.copyright {
  font-size: 0.85rem;
}

footer a {
  text-decoration: none;
  color: grey;
}

footer a:hover {
  color: #000;
}

.footer-logo svg {
  fill: #f72210;
  width: 200px;
}

.my-turn h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: bold;
  color: grey;
}

.my-turn h2 {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 600;
  color: grey;
}

.culture-label {
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 0;
}

.cta-title h2 {
  font-size: 1.2rem;
  line-height: 1;
}

.subscribe-image-wrapper {
  position: relative;
  width: 100%;
}

.nw-img {
  position: absolute;
  z-index: 9;
  left: 80px;
  top: 15px;
}

.subscribe-text {
  z-index: 9;
  margin: 30px;
  margin-left: 70px;
}

.news-input {
  height: 34px;
}

.news-input-button {
  height: 34px;
  padding-bottom: 5px;
}

/* Animations */
.pick,
.mag {
  margin: auto;
  -webkit-animation: sk-rotateplane 25.2s infinite ease-in-out;
  animation: sk-rotateplane 5.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(320px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(280deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.anime {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.versus {
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  top: -30px;
  left: 40%;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 10;
  }
}

.email-cta {
  border-radius: 0 50px;
}
.form {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #aa0c0c;
}
