body {
  background-color: #f4f5f6;
}

.main-header {
  width: 98%;
  margin: 0 auto;
}

.copyright {
  font-size: 0.85rem;
}

footer a {
  text-decoration: none;
  color: grey;
}

footer a:hover {
  color: #000;
}

.footer-logo svg {
  fill: #f72210;
  width: 200px;
}
